html, body {
  width: 100%;
  height: 100%;
	margin: 0;
	padding: 0;
}

body {
  font-family: -apple-system;
}

button {
  border: 1px solid black;
  background: #ccc;
}

button:active {
  border: 1px solid black;
  background: #fff;
}

button:focus {
  outline: 0;
}

div#select {
  width: 100%;
  height: 100%;
}

div#select h1 {
  font-size: 1.5em;
  padding: 1em;
}

div#select section a {
  display: block;
  position: relative;
  margin: .5em 1em;
  padding: 1em;
  text-decoration: none;
  border: 2px solid #9999cc;
  border-radius: 5px;
  color: #9999cc;
  cursor: pointer;
  width: 80%;
  float: left;
}

div#select span.done {
  position: absolute;
  bottom: .4em;
  right: .5em;
  font-size: 1.2em;
}

@media (min-width: 560px) {
  div#select section a { width: 35%; }
}

div#select section a h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

div#select footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #ccc;
}

div#select footer button#stat {
  padding: 5px 20px;
  height: 30px;
}

div#select footer a {
  padding: 5px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
}

div#select footer a#showstat {
  font-size: 1em;
  width: auto;
  background: #666;
  color: white;
}

div#select footer a:hover {
  opacity: 0.7;
}

.fa-facebook-f {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

div#qa {
}

div.page header {
  background: #9999cc;
  z-index: 4;
  position: fixed;
  width: 100%;
}

div.page header i.back {
  padding: 10px;
  background: #666666;
  color: white;
  font-size: 15px;
  cursor: pointer;
  float: left;
}

div.page header div {
  color: white;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
}

div#q {
  font-size: 60px;
  text-align: center;
  padding: 45px .5em 10px .5em;
}

div#q.ok {
  background: #78be20;
}

div#q.ng {
  background: red;
}

#a {
  text-align: center;
}

#a button {
  padding: 0;
  text-align: center;
  width: 33%;
  height: calc((100% - 150px) / 4);
  font-size: 4em;
}
#a button.ng {
	background: #666;
}

#stat header {
  position: fixed;
  top: 0;
  left: 0;
}

#stat section h2 {
  padding: 80px 1em 0 1em;
}

#stat section table {
  margin: 0;
  position: relative;
  top: 40px;
  width: 100%;
  border-collapse: collapse;
}

#stat section table tr td {
  padding: .2em 0;
}

#stat section table tr:nth-child(even) {
  background: #eeeeee;
}

#stat section table td {
  vertical-align: top;
}

#stat section td.q {
  font-weight: bold;
  white-space: nowrap;
  width: 4em;
  padding-left: 1em;
}

#stat section td.ans {
  width: 5em;
}

#stat section td.time {
  color: #666;
  font-size: .8em;
  padding-right: 1em;
  text-align: right;
  width: 4em;
}

#stat section td div.ok:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  color: #228B22;
  padding: 0 .2em 0 1em;
}
#stat section td div.ng:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: red;
  content: "\f071";
  padding: 0 .2em 0 1em;
}

div#ok, div#ng, div#done {
  position: absolute;
  margin: auto;
  height: 180px;
  font-size: 180px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fadeout-leave-active {
  transition: all 100ms;
}

.fadeout-leave-to {
  opacity: 0;
}

#add-me-to-home {
  font-size: 90%;
  position: fixed;
  bottom: 15px;
  border-radius: .5em;
  margin: .5em;
  padding: 10px 24px .5em 84px;
  height: auto;
  z-index: 9;
  background: url('apple-touch-icon.png') no-repeat;
  background-size: 64px;
  background-position: 10px 10px;
  background-color: #eedddd;
  animation: vertical .8s ease-in-out infinite alternate;
}

#add-me-to-home > span {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  color: white;
}


#add-me-to-home::after {
  position: absolute;
  top: 99%;
  left: 50%;
  margin-left: -15px;
  content: ' ';
  border: 15px solid transparent;
  border-top-color: #eedddd;
}

@keyframes vertical {
    0% { transform:translateY(-3px); }
  100% { transform:translateY(  0px); }
}
